<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>
<!-- <img id="img"/> -->
<img id="img2"/>

<script>
    async function init() {
        const url = "https://restfulmath.herokuapp.com/helloworld/q2";
        let res = await fetch(url);
        res = await res.json()
        console.log(res)
        document.getElementById('img').setAttribute('src',
            `data:image/png;base64, ${res.photo}`
        )
    }
    init();
    
 async function init2() {
        const url = "https://restfulmath.herokuapp.com/libraries?lib={{lib}}&qu={{qu}}";
        let res = await fetch(url);
        res = await res.json()
        console.log(res)
        document.getElementById('img2').setAttribute('src',
            `data:image/png;base64, ${res.photo}`
        )
    }
    init2();    
</script>
</body>
</html>
